# ===============================================
# Cấu hình mẫu cho Product API (.env.example)
# ===============================================

PORT=3000
NODE_ENV=development

# MongoDB URI (Container nammongodb)
MONGO_URI=mongodb://admin:admin123@localhost:27018/productdb?authSource=admin

# MongoDB root credentials
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123
MONGO_PORT=27018

# Docker Hub Username
DOCKERHUB_USERNAME=your-dockerhub-username
